@media screen and (max-width: 768px) {
  #hero img {
    margin-top: 30px;
  }
  .sliders {
    background-color: white;
  }
}

/* ------------------------------------------------------- */
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
.sliders {
  background-color: white;
}
#hero img {
  margin-top: 30px;
}
